<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <img class="dash-logo" src="assets/img/ArifuLogo.png" alt="">
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" routerLink="/">
            <i class="material-icons">library_books</i>
            <p>New Certificate</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses">
            <i class="material-icons">library_books</i>
            <p>Courses</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="material-icons">dashboard</i>
            <p>View Applicants</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <!-- <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:;">Dashboard</a>
        </div> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <!-- <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <i class="material-icons">notifications</i> Notifications
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h2 class="card-title">Get your Certificate</h2>
                <p class="card-category">Complete the form below</p>
              </div>
              <div class="card-body">
                <form [formGroup]="UserDetailsForm">
                  <div class="row pt-3">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">First Name</label>
                        <input formControlName="first_name" type="text" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['first_name'].invalid && (UserDetailsForm.controls['first_name'].dirty || UserDetailsForm.controls['first_name'].touched || Submitted)}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Last Name</label>
                        <input type="text" formControlName="last_name" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['last_name'].invalid && (UserDetailsForm.controls['last_name'].dirty || UserDetailsForm.controls['last_name'].touched || Submitted)}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['email'].invalid && (UserDetailsForm.controls['email'].dirty || UserDetailsForm.controls['email'].touched || Submitted)}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">City</label>
                        <input type="text" formControlName="city" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['city'].invalid && (UserDetailsForm.controls['city'].dirty || UserDetailsForm.controls['city'].touched || Submitted)}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Country</label>
                        <input type="text" class="form-control" formControlName="country"
                          [class]="{'invalid': UserDetailsForm.controls['country'].invalid && (UserDetailsForm.controls['country'].dirty || UserDetailsForm.controls['country'].touched || Submitted)}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Postal Address</label>
                        <input type="text" formControlName="postal_address" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['postal_address'].invalid && (UserDetailsForm.controls['postal_address'].dirty || UserDetailsForm.controls['postal_address'].touched || Submitted)}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Course</label>
                        <select formControlName="course" class="form-control"
                          [class]="{'invalid': UserDetailsForm.controls['course'].invalid && (UserDetailsForm.controls['course'].dirty || UserDetailsForm.controls['course'].touched || Submitted)}">
                          <option *ngFor="let course of Courses" value="{{course.course_name}}">{{course.course_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-center">
                    <button type="submit" class="btn post-details-btn btn-primary" (click)="submitDetails()">Post
                      Details</button>
                    <div class="alert alert-danger" *ngIf="InvalidForm">
                      Your details are invalid. Check and try again.</div>
                  </div>
                  <div class="col-md-4 d-none">
                    <button id="successbtn" class="btn btn-primary btn-block"
                      onclick="md.showNotification('top','right')">Success</button>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <!-- <nav class="float-left">
          <ul>
            <li>
              <a href="">
                Dennis Weru
              </a>
            </li>
          </ul>
        </nav> -->
        <div class="copyright float-right">By
          <a href="" target="_blank">Dennis Weru</a>
        </div>
        <!-- your footer here -->
      </div>
    </footer>
  </div>
</div>