<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
        Tip 2: you can also add an image using data-image tag
    -->
        <div class="logo">
            <a href="#" class="simple-text logo-mini">
                <img class="dash-logo" src="assets/img/ArifuLogo.png" alt="">
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/">
                        <i class="material-icons">library_books</i>
                        <p>New Certificate</p>
                    </a>
                </li>
                <li class="nav-item   ">
                    <a class="nav-link" routerLink="/courses">
                        <i class="material-icons">library_books</i>
                        <p>Courses</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>View Applicants</p>
                    </a>
                </li>
                <!-- your sidebar here -->
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-chart">
                            <div class="card-header card-header-success">
                                <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                                <div class="ct-chart" id="chartContainer" style="width: 100%; height: 400px;"></div>
                            </div>
                            <div class="card-body">
                                <h2 class="card-title">Certificates By course</h2>
                                <!-- <p class="card-category">
                                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase
                                    in today sales.
                                </p> -->
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> updated just now
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Email Subscriptions</h4>
                                <p class="card-category">Last Campaign Performance</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h2 *ngIf="Students" class="card-title ">All Applicants ({{Students.length}})</h2>
                                <p class="card-category">The following have received their certificate via
                                    email</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Country
                                            </th>
                                            <th>
                                                City
                                            </th>
                                            <th>
                                                Course
                                            </th>
                                            <th>
                                                Application Date
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let student of Students; let i = index">
                                                <td>
                                                    {{i+1}}
                                                </td>
                                                <td>
                                                    {{student.first_name}} {{student.last_name}}
                                                </td>
                                                <td>
                                                    {{student.country}}
                                                </td>
                                                <td>
                                                    {{student.city}}
                                                </td>
                                                <td>
                                                    {{student.course}}
                                                </td>
                                                <td>
                                                    {{student.created_at | date:'longDate'}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <!-- <nav class="float-left">
            <ul>
              <li>
                <a href="">
                  Dennis Weru
                </a>
              </li>
            </ul>
          </nav> -->
                <div class="copyright float-right">By
                    <a href="" target="_blank">Dennis Weru</a>
                </div>
                <!-- your footer here -->
            </div>
        </footer>
    </div>
</div>